@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fafc; /* Un gris muy clarito y limpio */
  color: #1e293b; /* Texto oscuro, no negro puro, para que no canse la vista */
}

/* Esto hace que el scroll de la lista de productos sea invisible o muy delgado y moderno */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e2e8f0; /* Un gris muy clarito */
  border-radius: 20px;
}